<h2 class="title"></h2><a class="btn btn-danger pull-right" href="#">Ocupar</a>
  <p><a href="/edit">Editar</a></p>
  <div class="row">

    <div id="display" class="col-md-4 text-center">
      <div id="avatar">
      	<div class="piece body"></div>
      	<div class="piece hair"></div>
      	<div class="piece eyes"></div>
      	<div class="piece nose"></div>
      	<div class="piece uniform"></div>
      </div>

      <p></p>
    </div>
    <div class="col-md-8">
      <div class="col-md-4 medalha badge1">&nbsp;</div>
      <div class="col-md-4 medalha badge2">&nbsp;</div>
      <div class="col-md-4 medalha">&nbsp;</div>
      <div class="col-md-4 medalha badge3">&nbsp;</div>
      <div class="col-md-4 medalha badge4">&nbsp;</div>
      <div class="col-md-4 medalha">&nbsp;</div>
    </div>
  </div>

  <div class="row quests"></div>

  <div class="row">
    <p class="alert info"> Aventuras disponíveis: </p>
  </div>
  <div class="row">
    <div class="col-md-4 quests template">
      
    </div>
  </div>
  <p>
    
  </p>