<h2 class="title"></h2>
  <p><a href="/edit">Editar</a></p>
  <div class="row">

    <div id="display" class="col-md-4 text-center">
      <div id="avatar">
      	<div class="piece body"></div>
      	<div class="piece hair"></div>
      	<div class="piece eyes"></div>
      	<div class="piece nose"></div>
      	<div class="piece uniform"></div>
      </div>

      <p></p>
    </div>
    <div class="col-md-8">
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 quests">
      
    </div>
  </div>
  <p>
    
  </p>