<h2 class="title"></h2>
  <p>&nbsp;</p>
  <div class="row">

    <div id="display" class="col-md-3 text-center">
      <div id="avatar">
      	<div class="piece body"></div>
      	<div class="piece hair"></div>
      	<div class="piece eyes"></div>
      	<div class="piece nose"></div>
      	<div class="piece uniform"></div>
      </div>

      <p></p>
    </div>
    <div class="col-md-1 options">
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-md-12">
          <label for="skin">Pele:</label>
          <select id="skin"></select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="hair">Cabelo:</label>
          <select id="hair"></select>
          <select id="hair2"></select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="eyes">Olhos:</label>
          <select id="eyes"></select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="nose">Nariz:</label>
          <select id="nose"></select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="uniform">Roupa:</label>
          <select id="uniform"></select>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-md-3 text-right">
          <label for="real_name">Nome:</label>
        </div>
        <div class="col-md-9">
          <input id="real_name" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right">
          <label for="email">Email:</label>
        </div>
        <div class="col-md-9">
          <input id="email" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right">
          <label for="gender">Sexo:</label>
        </div>
        <div class="col-md-9">
          <select id="gender" >
            <option value="menino">Masculino</option>
            <option value="menina">Feminino</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <p>
    <a id="save" class="btn btn-default pull-right">Salvar</a>
  </p>