<h2 class="title"></h2>
  <div class="row">

    <div id="display" class="col-md-4 text-center">
      <div id="avatar">
      	<div class="piece body"></div>
      	<div class="piece hair"></div>
      	<div class="piece eyes"></div>
      	<div class="piece nose"></div>
      	<div class="piece uniform"></div>
      </div>

      <p></p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <p class="alert info title"> </p>
      </div>
      
      <div class="row quest"></div>
    </div>
  </div>

  <p>
    
  </p>