<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <!-- <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li> -->
          </ul>
        </nav>
        <h3 class="text-muted">Student Experience</h3>
      </div>

      <div class="jumbotron">
                <h2>Dashboard</h2>
        <p>&nbsp;</p>
        <div class="row">
          
        </div>
        <p>&nbsp;</p>
        <div class="row">
          <div id="display" class="col-md-4 col-md-offset-4 text-center">
    	      <div id="avatar">
    	      	<div class="piece body"></div>
    	      	<div class="piece hair"></div>
    	      	<div class="piece eyes"></div>
    	      	<div class="piece nose"></div>
    	      	<div class="piece uniform"></div>
    	      </div>

            <p></p>
          </div>
        </div>
        <p>
          
        </p>
      </div>

      <!-- <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div> -->

      <footer class="footer">
        <p>&copy; 2016 Time-T, FTW.</p>
      </footer>

    </div> <!-- /container -->